body{
    margin: 0;
}

header{
    background: url(water.jpg) no-repeat center center fixed;
    background-size: cover;

    height: 100vh;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    color:white;
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 4px 4px 20px #000;
    text-align: center;
    font-family: arial;
}

article{
    width: 40%;
    margin: 0 auto;
    font-size: 20px;
}