<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data Visualization Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdn.opencpu.org/opencpu-0.4.js"></script>

</head>

<body>
    <header>
        <h1>Data Visualizator</h1>
    </header>

<div id="uploaders">
    <div id="upload">
        <p>Select local CSV File:</p>
        <input id="csv" type="file">
    </div>

    <div id="uploadUrl">
        <form onchange="getByUrl(event)">
            <p>Enter URL</p>
            <input id="csvUrl" type="text" ><br>
        </form>
    </div>
</div>

    <script src="../index.js"></script>










</body>

</html>