<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data Visualization Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
    <script src="https://d3js.org/d3.v3.min.js"></script>

</head>

<body>
    <header>
        <h1>Data Visualizator</h1>
    </header>


   <div id="upload">
    <h2>Upload a CSV File</h2>

    <b>CSV File</b> <input type="file" id="csvfile"> 
    <br />
    
    <h3>Header</h3>
    <option>true</option>
    <option>false</option>
    </select> 
    
    <br />
    <button id="csvButton" type="button">Upload</button>
    
    <pre><code id="output"></code></pre>
   </div>

    

  

    <script src ="../index.js"></script>
   
 
 





</body>

</html>