body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
    background: url(/assets/water.jpg) no-repeat center center fixed;
    background-size: cover;

    height: 100vh;
    min-height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#svg {
  
}

h1{
    color:white;
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 4px 4px 20px #000;
    text-align: center;
    font-family: arial;
}

#upload {
  justify-content: center;
  margin: auto;
}

article{
    width: 40%;
    margin: 0 auto;
    font-size: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.box {
    font: 10px sans-serif;
    justify-content: center;
}

.box line,
.box rect,
.box circle {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}

.box .center {
    stroke-dasharray: 3,3;
}

.box .outlier {
    fill: none;
    stroke: #ccc;
}



svg {
    font-size: 14px;
  }
  
  .axis {
    shape-rendering: crispEdges;
  }
  
  .axis line {
    stroke: #ddd;
    stroke-width: .5px;
  }
  
  .axis path {
    display: none;
  }
  
  rect.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
  }
  
  rect.frame {
    fill: #fff;
    fill-opacity: .7;
    stroke: #aaa;
  }
  
  circle {
    fill: #ccc;
    fill-opacity: .5;
  }
  
  .legend circle {
    fill-opacity: 1;
  }
  
  .legend text {
    font-size: 18px;
    font-style: oblique;
  }
  
  .cell text {
    pointer-events: none;
  }
  
  .setosa {
    fill: #800;
  }
  
  .versicolor {
    fill: #080;
  }
  
  .virginica {
    fill: #008;
  }