body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
    background: url(/assets/wall.jpg) no-repeat center center fixed;
    background-size: cover;

    height: 100vh;
    min-height: 100vh;
    margin: auto;

    
    flex-direction: column;
    justify-content: center;
}



input[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}






h1{
    color:white;
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 4px 4px 20px #000;
    text-align: center;
    font-family: arial;
}



#uploaders {
  color:white;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 4px 4px 20px #000;
    text-align: center;
    font-family: arial;
    justify-content: center;
    display: grid;
    margin: 1%;
}






article{
    width: 40%;
    margin: 0 auto;
    font-size: 20px;
}










svg {
    font-size: 14px;
  }
  
  .axis {
    shape-rendering: crispEdges;
  }
  
  .axis line {
    stroke: #ddd;
    stroke-width: .5px;
  }
  
  .axis path {
    display: none;
  }
  
  rect.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
  }
  
  rect.frame {
    fill: #fff;
    fill-opacity: .7;
    stroke: #aaa;
  }
  
  circle {
    fill: #ccc;
    fill-opacity: .5;
  }
  
  .legend circle {
    fill-opacity: 1;
  }
  
  .legend text {
    font-size: 18px;
    font-style: oblique;
  }
  
  .cell text {
    pointer-events: none;
  }
  
  .setosa {
    fill: #800;
  }
  
  .versicolor {
    fill: #080;
  }
  
  .virginica {
    fill: #008;
  }