body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	background-color: #e6e6fa;
	background-size: cover;

	height: 100vh;
	min-height: 100vh;
	margin: auto;

	flex-direction: column;
	justify-content: center;
}

input[type='text'] {
	padding: 5px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type='text']:focus {
	border-color: #333;
}

h1 {
	color: black;
	font-size: 300%;
	text-transform: uppercase;

	text-align: center;
	font-family: arial;
}

#uploaders {
	color: black;
	font-size: 100%;
	font-weight: bold;
	text-transform: uppercase;
	//text-shadow: 4px 4px 20px #000;
	text-align: center;
	font-family: arial;
	justify-content: center;
	display: grid;
	margin: 1%;
}

article {
	width: 40%;
	margin: 0 auto;
	font-size: 20px;
}

svg {
	display: block;
	margin: 0 auto;
	font-size: 14px;
}

.axis {
	shape-rendering: crispEdges;
}

/*
  .axis line {
    stroke: #ddd;
    stroke-width: .5px;
  }
  
  .axis path {
    display: none;
  }
  */

label {
	position: absolute;
	top: 10px;
	right: 20px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

rect.extent {
	fill: #000;
	fill-opacity: 0.125;
	stroke: #fff;
}

rect.frame {
	fill: #fff;
	fill-opacity: 0.7;
	stroke: #aaa;
}

circle {
	fill: #ccc;
	fill-opacity: 0.5;
}

.legend circle {
	fill-opacity: 1;
}

.legend text {
	font-size: 18px;
	font-style: oblique;
}

.cell text {
	pointer-events: none;
}

.setosa {
	fill: #800;
}

.versicolor {
	fill: #080;
}

.virginica {
	fill: #008;
}
